---
import Layout from '@/layouts/Layout.astro';

import Hero from '@/sections/Hero.astro';
import Presentation from '@/sections/Presentation.astro';
---

<Layout>
	<div class="image-background z-0"></div>
	<Hero />
	<Presentation />
</Layout>
