---
import X from '../assets/svg/x.svg';
import Instagram from '../assets/svg/instagram.svg';
import GitHub from '../assets/svg/github.svg';
import Sponsors from '../components/Sponsors.astro';

---

<footer class="relative w-full flex flex-col items-center justify-center h-[400px] gap-y-4">
    <div
        class="absolute inset-0 bg-cover bg-bottom bg-[url('/images/footer.webp')] [mask-image:linear-gradient(transparent,black_50%)]"
    >
    </div>
    <div
    class="relative w-full flex flex-col justify-center gap-y-3 items-center text-[#2a1f26]"
    >
    <Sponsors />
    <div class="!mt-4">
        <p class="flex-wrap w-[250px] md:w-auto gap-y-2 text-center">© 2025 La Velada del año V, todos los derechos reservados</p>
    </div>

        <div class="w-full flex flex-row gap-x-2 justify-center items-center">
            <a
                href="https://x.com/infoLaVelada"
                target="_blank"
                rel="noopener noreferrer"
                class="inline-block hover:scale-125"
            >
                <X />
            </a>
            <a
                href="https://instagram.com/infoLaVelada"
                target="_blank"
                rel="noopener noreferrer"
                class="inline-block hover:scale-125"
            >
                <Instagram>
            </a>
            <a
                href="https://github.com/midudev/la-velada-web-oficial"
                target="_blank"
                rel="noopener noreferrer"
                class="inline-block hover:scale-125"
            >
                <GitHub />
            </a>
        </div>
    </div>
</footer>
