---
interface Props {
  id: string;
  title: string;
}
const { id, title } = Astro.props as Props;
---

<section class="w-full min-h-[600px] flex flex-col items-center justify-center !py-24" id={id}>
  <slot id={id} title={title} />
</section>
