---
import SectionTitle from "@/components/SectionTitle.astro";

---

<section id="presentation" class="w-full min-h-[650px] flex flex-col items-center justify-center">
    <SectionTitle title="Video de presentación de la Velada V"/>
    <div class="w-[560px] h-[315px] !my-4">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/t7r5O_5B-E0?si=0MmfB2DrzV33eYUE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

    <SectionTitle title="Video de presentación de la Velada V"/>
    <div class="w-[560px] h-[315px] !my-4">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/t7r5O_5B-E0?si=0MmfB2DrzV33eYUE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</section>